.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.sidebar-container {
  min-height: 100%;
  width: 270px;
  background: red;
}

.content-container {
  min-height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .dashboard-wrapper {
    display: block;
  }

  .sidebar-container {
    width: 100%;
    height: 56px;
  }
}
