.alert-invite {
  color: #6fa33e;
  background-color: #d6f5d6;
  border-color: #1f7a1f;
}

.alert-invite-text,
.alert-invite-text:hover {
  color: #6fa33e;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box-shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.content-container {
  width: 100%;
  height: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.card {
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 13%,
    rgba(255, 255, 255, 1) 13%,
    rgba(241, 241, 241, 1) 34%,
    rgba(225, 225, 225, 1) 57%,
    rgba(225, 225, 225, 1) 57%,
    rgba(246, 246, 246, 1) 90%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 13%,
    rgba(255, 255, 255, 1) 13%,
    rgba(241, 241, 241, 1) 34%,
    rgba(225, 225, 225, 1) 57%,
    rgba(225, 225, 225, 1) 57%,
    rgba(246, 246, 246, 1) 90%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 13%,
    rgba(255, 255, 255, 1) 13%,
    rgba(241, 241, 241, 1) 34%,
    rgba(225, 225, 225, 1) 57%,
    rgba(225, 225, 225, 1) 57%,
    rgba(246, 246, 246, 1) 90%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
